{% extends 'home/base_home.html' %}

{% load static %}

{% block title %}{{home.title}}{% endblock title%}
{% block description %}{{home.description}}{% endblock description%}

{% block content %}

{% include 'includes/header.html' %}

<div class="container">

  <div class="row mb-2">

    <div class="col-12 col-md-10 offset-md-1">
      <div class="card h-100 text-center">
        <h1 class="card-header">{{ home.title }}</h1>
        <img src="{% static '/img/AI.svg' %}" class="card-img-top img-fluid" alt="FusionAI Logo ">
        <div class="card-body">
          <h5 class="card-title">{{ home.description }}</h5>
          <p class="card-text"><small class="text-dark">{{home.about_text}}</small></p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn border border-white border-3 text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Subscribe
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Subscribe</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'home_app:add_subscription' %}">
                  <div class="modal-body">
                    {% csrf_token %}
                    {{form.email}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn border border-secondary border-2 text-white" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn border border-primary border-2 text-white">Send email</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-12 col-md-6">
      <div class="card h-100">
        <img src="{{ cover_page.image.url }}" class="card-img-top" alt="{{ cover_page.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ cover_page.title }}</h5>
          <p class="card-text">{{ cover_page.content|safe|truncatewords:40 }}</p>
        </div>  
        <div class="card-footer text-center">
          <a href="{% url 'post_app:detail' cover_page.slug %}" class="btn border border-primary border-2 text-white">Read more</a>
        </div>
      </div>
    </div> -->
    <div class="col-12 col-md-10 mt-4 offset-md-1">
      <div class="card h-100">
        <div class="row align-items-center g-0">
          <div class="col-md-4">
            <img src="{% static '/img/WhatIsAI.png' %}" class="img-home img-fluid" alt="{{ cover_page.title }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">{{ cover_page.content|safe|truncatewords:30 }}</p>
            </div>
          </div>
          <div class="card-footer text-center">
            <a href="{% url 'post_app:detail' cover_page.slug %}" class="btn border border-primary border-2 text-white">Read more</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>  
  
  <div class="essentials alert m-5" role="alert">
    &#10024; The Essentials &#10024;
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for i in articles %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ i.image.url }}" class="card-img-top" alt="{{ i.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ i.title|truncatechars:100 }}</h5>
            <p class="card-text">{{ i.content|safe|truncatewords_html:30 }}</p>
          </div>
          <div class="card-footer text-center">
            <a href="{% url 'post_app:detail' i.slug %}" class="btn border border-primary border-2 text-white">Read more</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="recents alert m-5" role="alert">
    &#128293; The Most Recent &#128293;
  </div>
    
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for article in last_articles %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ article.title|truncatechars:100 }}</h5>
            <p class="card-text">{{ article.content|safe|truncatewords_html:30 }}</p>
          </div>
          <div class="card-footer text-center">
            <a href="{% url 'post_app:detail' article.slug %}" class="btn border border-primary border-2 text-white">Read more</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% include 'includes/footer.html' %}


{% endblock content %}