<footer class="text-center text-lg-start text-muted mt-4">
    <section class="d-flex justify-content-center p-2 border-bottom">
        <h6 class="text-reset">
            {{title}}<span class="me-5 d-none d-lg-inline">: {{description}}</span>
        </h6>
    </section>

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
                    <h6 class="mb-4">FusionAI</h6>
                    <p>
                        {{about_text}}
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase mb-4">
                        Realizado con
                    </h6>
                    <p>
                        <a href="https://www.djangoproject.com" class="text-reset" target="__blank">Django</a>
                    </p>
                    <p>
                        <a href="https://getbootstrap.com/" class="text-reset" target="__blank">Bootstrap</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase mb-4">
                        Repositorio
                    </h6>
                    <p>
                        <a href="{{repository}}" class="text-reset" target="__blank">GitHub</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase mb-4">
                        Más contacto
                    </h6>
                    <p>
                        <a class="text-reset" href="mailto:{{contact_email}}?subject={{subject_email}}&body={{body_email}}">Correo</a>  
                    </p>
                    <p>
                        <a class="text-reset" href="{{web}}" target="__blank">Web</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-2">
        Copyleft <span id="copyleft">&copy;</span> 
        Desarrollado por <a class="text-reset website" href="https://diegovasconcelo.com/" target="__blank">DVU</a>
    </div>
</footer>