<div class="container">

    <div class="row">
        <div class="col">
            <h3>Contact</h3>
            <form class="form-control" method="POST" action="{% url 'home_app:message_contact' %}">
                {%csrf_token%}
                
                <div class="mb-3">
                    <input type="text" name="full_name" placeholder="Name" class="form-control" maxlength="100" required="" id="id_full_name">
                </div>

                <div class="mb-3">
                    <input type="email" name="email" placeholder="email" class="form-control" maxlength="254" required="" id="id_email">
                </div>

                <div class="mb-3">
                    <textarea class="form-control" name= "message" id="id_message" rows="3" placeholder="Message"></textarea>
                </div>

                <button type="submit" class="btn btn-success">Send</button>
 
            </form>
        </div>
        

    </div>
</div>
<footer class="text-center text-lg-start text-muted mt-4">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>{{home.title}}: {{home.description}}</span>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>FusionAI
                    </h6>
                    <p>
                        {{home.about_text}}
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Power by
                    </h6>
                    <p>
                        <a href="https://www.djangoproject.com" class="text-reset" target="__blank">Django</a>
                    </p>
                    <p>
                        <a href="https://getbootstrap.com/" class="text-reset" target="__blank">Bootstrap</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Repository
                    </h6>
                    <p>
                        <a href="#" class="text-reset" target="__blank">GitHub</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        More contact
                    </h6>
                    <p>
                        <i class="fas fa-home me-3">{{home.contact_email}}</i>
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3">{{home.phone}}</i>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-2">
        Desarrollado por <a class="text-reset fw-bold website" href="https://diegovasconcelo.com/" target="__blank">DVU</a>
        <span id="copyleft">&copy;</span>
    </div>
</footer>