{% extends 'base.html' %}

{% load static %}

{% block css %}
{% endblock css %}

{% block js %}
    <script>
        function getlink() {
            var aux = document.createElement("input");
            aux.setAttribute("value",window.location.href);
            document.body.appendChild(aux);
            aux.select();
            document.execCommand("copy");
            document.body.removeChild(aux);
            var linkCopy = document.getElementById("linkCopy");
            linkCopy.innerHTML = "Link copied, thanks 🙌";
        }
    </script>
{% endblock js %}
