{% extends 'favorites/base_favorites.html'%}

{% load static %}

{% block title %}Favoritos de {{user.names|capfirst}}{% endblock title%}

{% block content %}

    {% include 'includes/header.html' %}

    <div id="content" class="container">
        <h1>{{user.names|capfirst}} estos son tus favoritos</h1>

        <div class='row'>
            <div class='col-12 col-md-6 offset-md-3 text-center p-2'>
                {% if messages %}
                    {% for message in messages %}
                        <div class="message-{{message.tags}} alert border-2 border-{{message.tags}}" role="alert">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>  

        <div class="row">
            
            <div class="col-12">
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    {% for post in favorite_items %}
                        <div class="col">
                            <div class="card" style="height: 100%;">
                            <img src="{{post.article.image.url}}" class="img-card card-img-top" alt="{{post.article.title}}">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{post.article.title}}</h5>
                                    <p class="card-text">{{post.article.content|truncatewords_html:20|safe|striptags}}</p>
                                </div>
                                <form method="POST" action="{% url 'favorites_app:favoriteRemove' post.id %}">
                                    {% csrf_token %}
                                    <div class="card-footer text-center">
                                        <a href="{% url 'post_app:detail' post.article.slug %}" class="btn border border-primary border-2 text-white">Ver más</a>
                                        <button type="submit" class="btn border border-danger border-2 text-white">Remover</button>
                                    </div>    
                                </form>
                                
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-md-6 offset-md-3">
                            <div class="card h-100">
                                <img src="{% static '/img/addFav.svg' %}" class="card-img-top" alt="img: Add items">
                                <div class="card-body">
                                    <h5 class="card-title">Nada para ver</h5>
                                    <p class="card-text"><a href="{% url 'post_app:list'%}">Haz clic aquí </a>para agregar elementos a Favoritos.</p>
                                </div>
                            </div>
                        </div>
                    {% endfor%}
                </div>                

            </div>
        </div>

        <!-- paginator -->
        {% if is_paginated %}
        <div class="row pt-4">
            <div class='col-12 col-md-8 offset-md-2'>
                <nav aria-label="pagination">
                    <ul class="pagination pagination-sm justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="pagination page-link border border-light text-white" href="?page=1" tabindex="-1">&laquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="pagination page-link border border-light" href="?page={{page_obj.previous_page_number}}" tabindex="-1">Anterior</a>
                            </li>
                        {% elif page_obj.number == 1  %}
                            <li class="page-item disabled">
                                <a class="pagination page-link border border-light" href="" tabindex="-1">&laquo;</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="pagination page-link border border-light" href="" tabindex="-1">Anterior</a>
                            </li>
                        {%endif%}
        
                        <li class="page-item active">
                            <a class="pagination page-link border border-light">{{page_obj.number}} de {{page_obj.paginator.num_pages}}<span class="sr-only"></span></a>
                        </li>
        
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="pagination page-link border border-light" href='?page={{page_obj.next_page_number}}'>Siguiente</a>
                            </li>
                            <li class="page-item">
                                <a class="pagination page-link border border-light" href='?page={{page_obj.paginator.num_pages}}'>&raquo;</a>
                            </li>
                        {% elif not page_obj.has_next %}
                            <li class="page-item disabled">
                                <a class="pagination page-link border border-light" href=''>Siguiente</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="pagination page-link border border-light" href=''>&raquo;</a>
                            </li>
                        {%endif%}
        
        
                    </ul>
                </nav>
            </div>
        </div>
        {% endif %}
    </div>    

    {% include 'includes/footer.html' %}

{% endblock content %}