{% extends 'users/base_users.html' %}

{% load static %}

{% block title %}Log In {{article.title}}{% endblock title %}

{% block content %}


{% include 'includes/header.html' %}

<div class="container">

  <div class="row">
    <div class="col-12 col-md-12">
      <div class="card">
        <h5 class="card-header">Log In to FuisionAI </h5>
        <div class="card-body">
            <form method="post" class="form-control">
                {% csrf_token %}
            
                {{form.as_p}}
                <button type="submit" class="btn btn-primary m-2">Log In</button>
              </form>
            <p class="text-center text-decoration-none mt-4">
                <small>If you don't have an account <a href="{% url 'users_app:userRegister'%}">Sign Up.</a></small>
            </p>
        </div>
      </div>
    </div>
  </div>  
    
</div>


{% endblock content %}
