{% extends 'users/base_users.html' %}

{% load static %}

{% block title %}Cambiar contraseña{{article.title}}{% endblock title %}

{% block content %}


{% include 'includes/header.html' %}

<div id="content" class="container">
  <div class='col-12 col-md-6 offset-md-3 text-center p-2'>
    {% if messages %}
        {% for message in messages %}
            <div class="message-{{message.tags}} alert border-2 border-{{message.tags}}" role="alert">
                {{message}}
            </div>
        {% endfor %}    
    {% endif %}
  </div>
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card">
        <h5 class="card-header text-center">Cambiar contraseña</h5>
        <div class="card-body">
            <p class="card-text"><small>{{user.names|capfirst}}, completa este formulario para cambiar tu contraseña.</small></p>
            <form method="post" class="form-control">
                {% csrf_token %}
            
                {{form.as_p}}

                <button type="submit" class="btn border border-2 border-primary text-white m-2">Guardar</button>
                <button type="button" class="btn border border-2"><a class="text-white" href="{% url 'users_app:userProfile' %}">Cancelar</a></button>
              </form>
        </div>
      </div>
    </div>
  </div>  
    
</div>

{% include 'includes/footer.html' %}

{% endblock content %}