{% extends 'users/base_users.html' %}

{% load static %}

{% block title %}Change password {{article.title}}{% endblock title %}

{% block content %}


{% include 'includes/header.html' %}

<div id="content" class="container">

  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card">
        <h5 class="card-header text-center">Change Password</h5>
        <div class="card-body">
            <p class="card-text"><small>{{user.names}}, complete this form to change you passsword.</small></p>
            <form method="post" class="form-control">
                {% csrf_token %}
            
                {{form.as_p}}
                <button type="submit" class="btn border border-2 border-primary text-white m-2">Change</button>
              </form>
        </div>
      </div>
    </div>
  </div>  
    
</div>

{% include 'includes/footer.html' %}

{% endblock content %}