{% extends 'users/base_users.html' %}

{% load static %}
{% block title %}Sign Up {{article.title}}{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

<div id="content" class="container">

  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card">
        <h5 class="card-header text-center">Sign Up to FuisionAI </h5>
        <div class="card-body">
            <form method="post" class="form-control" enctype="multipart/form-data">
                {% csrf_token %}
            
                {{form.as_p}}
                <button type="submit" class="btn border border-2 border-primary text-white m-2">Sign Up</button>
            </form>
            <p class="text-center text-decoration-none mt-4">
                <small>If you have an account <a href="{% url 'users_app:userLogin'%}">Log In.</a></small>
            </p>
        </div>
      </div>
    </div>
  </div>  
    
</div>

{% include 'includes/footer.html' %}

{% endblock content %}