{% extends 'users/base_users.html' %}

{% load static %}

{% block title %}Activar cuenta{{article.title}}{% endblock title %}

{% block content %}


{% include 'includes/header.html' %}

<div id="content" class="container">

  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card">
        <h5 class="card-header text-center">Activar cuenta</h5>
        <div class="card-body">
            <p class="card-text"><small>Enviamos un código de activación a su cuenta de correo electrónico. Insertelo aquí.</small></p>
            <form method="post" class="form-control">
              {% csrf_token %}
            
              {{form.as_p}}
              <button type="submit" class="btn border border-2 border-primary text-white m-2">Activar</button>
            </form>
        </div>
      </div>
    </div>
  </div>  
    
</div>

{% include 'includes/footer.html' %}

{% endblock content %}
