{% extends 'users/base_users.html' %}

{% load static %}

{% block title %}Activate account {{article.title}}{% endblock title %}

{% block content %}


{% include 'includes/header.html' %}

<div id="content" class="container">

  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card">
        <h5 class="card-header text-center">Activate account</h5>
        <div class="card-body">
            <p class="card-text"><small>We send an activation code to your email account. Insert code here.</small></p>
            <form method="post" class="form-control">
                {% csrf_token %}
            
                {{form.as_p}}
                <button type="submit" class="btn border border-2 border-primary text-white m-2">Activate</button>
              </form>
            <!-- <p class="text-center text-decoration-none mt-4">
                <small>If you don't have an account <a href="{% url 'users_app:userRegister'%}">Sign Up.</a></small>
            </p> -->
        </div>
      </div>
    </div>
  </div>  
    
</div>

{% include 'includes/footer.html' %}

{% endblock content %}
